body {
    background: url(../img/dane-deaner-541785-unsplash.jpg) no-repeat center center;
    background-size: cover;
}
.phoneViewPort {
    display: flex;
    height: 100vh;
    // max-width: 500px;
    // margin: auto;
    
    .content-wrapper {
        background: rgba(255, 255, 255, 0.90);
        max-width: 600px;
        min-width: 480px;
        padding: 60px;
        .responsive-embed {
            margin-bottom: 20px;
        }
        h3 {
            // margin-bottom: 40px;
            }
        form {
            i {
                font-size: 20px;
            }
            .formVoiceOn {
                background-image: url(../img/googlemic_color_24dp.png);
                background-position: 98% 50%;
                background-repeat: no-repeat;
                background-size: 24px 24px;
            }
            
        }
    }    
}
@include top-bar-container;