body {
    background: url(../img/dane-deaner-541785-unsplash.png) no-repeat center center;
    background-size: cover;
}
.phoneViewPort {
    display: flex;
    height: 100vh;
    // max-width: 500px;
    // margin: auto;
    
    .content-wrapper {
        background: rgba(255, 255, 255, 0.90);
        max-width: 600px;
        padding: 60px;
        h3 {
            // margin-bottom: 40px;
            }
        form {
            
            
        }
    }    
}